
body {
	text-align: center;
	font-size:18px;
    display: block;
    text-align: center;
    /* font-family: sans-serif; */
	max-width: 100%;
  	font-family: Verdana, Geneva, sans-serif;
	color: #477099;
	background:#DDFFFE ;
	text-decoration: none;
}

.pageTitle{
	margin-top:5%;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	text-decoration: none;
	font-size: 38px;
	text-shadow: 10px 10px 15px
}
.labelText{
	font-size: 30px;
	text-decoration: none;
	margin-top: 5%;
}
h1 {
	text-align:center;
}

a:hover {
	text-decoration: none;
}

#prompt{
	font-size:28px;
	color:red;
}
.notworking{
	background: grey;	
}
.homeBtn {
	-moz-box-shadow: 10px 10px 5px 0px #bee2f9;
	-webkit-box-shadow: 10px 10px 5px 0px #bee2f9;
	box-shadow: 10px 10px 5px 0px #bee2f9;
	background-color:#477099;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0;
	border:2px solid #FFFFFF;
	/* display:inline-block; */
	color:#FFFFFF;
	font-family:Arial;
	font-size: 30px;
	height:90px;
	line-height:80px;
	width:260px;
	height: 80px;
	text-decoration:none;
	text-align:center;
	padding: none;
	margin-left: 22%;
	margin-bottom: 10%;
	margin-top: 7%;
	float: left;
	/* display: table-cell; */
}.homeBtn:hover {
	background-color:#468ccf;
}.homeBtn:active {
	position:relative;
	top:1px;
}
.homeTable{
	position: relative;
}
.groupreBtn{
	border-radius: 50%;
	width: 175px;
	height: 175px;
	position: absolute;
	top:48%;
	left:44%;
	z-index: 2;
	/* background:#477099; */

}
#podium{
	width: 7%;
	height: 10%;
	margin: auto;
}
#output {
	margin:0px;
	background-color: white;
	flex-grow: 1;
	}
#teamTemp-e{
	/*
	position: absolute;
	right: 0px;
	float: right;
	height: 100%;
	width: 65%;
	overflow: auto;
	*/
	margin:0px;
	background-color: white;
}
#template-e{
	/*
	position: absolute;
	right: 0px;
	float: right;
	height: 100%;
	width: 65%;
	overflow: auto;
	*/
	margin:0px;
	background-color: white;	
}
#template{
	/*
	position: absolute;
	right: 0px;
	float: right;
	height: 100%;
	width: 65%;
	overflow: auto;
	*/
	flex-grow: 1;
	margin:0px;
	background-color: white;
}
.leftTab {
	margin: 0px;
	padding:5px;
}
.btn-info {
	background: #477099;
	border:1px white solid;
	border-radius: 12px;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }
}
