
{% extends "layout.html" %}
{% block content %}
<div class = 'pageTitle'>
        {{title}}
</div>
<form>
    <label class = 'labelText' for="chooseClassForm">Select existing classroom</label>
    <form-group id = "chooseClassForm">
            <select class = 'btn btn-info' id = "classList">
                    {%- for item in roomFiles.keys() %}
                    <option value="{{ roomFiles[item] }}">{{ item }}</option>
                    {%- endfor %}
                </select>
                <button class = "btn btn-info" type = "button" id="goToClass">Go</button>
    </form-group>
    
    <div class = "form-group">
        <button class = "btn btn-info" type = "button" id="newClass">Make new template</button>
    </div>
</form>
<script>
        // Selects the room from template and builds it. 
        document.getElementById('goToClass').onclick = function(){
        var select = document.getElementById('classList');
        var idx = select.selectedIndex;
        var selectedOption = select.options[idx].value;
        
        window.location='/class/' + selectedOption;
    }
        document.getElementById("newClass").onclick = function () {
            window.location = '/room-creation';
        }
</script>

    


{% endblock content %}
