{% extends "layout.html" %}
{% block content %}
<script>
  // loads json from flask
  var template = JSON.parse('{{jdata | tojson | safe}}');
  var tempName = '{{name}}';
  console.log(template)
</script>
    <head><script type="text/javascript" src="../static/editTeam.js"></script></head>
<main>
    <div class='leftTab'>
  <h1 class="pageTitle">{{title}}</h1>
  <form>
    <h4>Room selected = {{name}}</h4>
<!-- 
    <label for='teamName-e'>section name:</label>
    <input id="teamName-e" /> -->
    <input class="btn btn-success ml-sm-4" type="button" id="buildClass-e" value="Build Class" />

  </form>

  <form method="post">
    <div class="form-group">
      <input class="btn btn-info" type="button" id="teamButton-e" value="Create Team from Selected Seats" />
      <input class="btn btn-info" type="button" id="removeTeam-e" value="Delete Team from Selected Seats" />
      <input class="btn btn-info" type="button" id="brokenButton-e" value="Set Selected Seats as Un-Usable" />

    </div>

    <div class="form-group">
      <select class ='btn btn-info' id="dropdown-e">
      </select>
      <button class="btn btn-info" type="button" id="autoAdd-e">Form Group</button>
    </div>

    <div class="form-group">
      <input class="btn btn-warning" type="button" id="resetTeam-e" value="Reset Team" />

        <!--<input class="btn btn-success" type="button" id="saveTeam-e" formaction="/room-saver" value="Save and Download" /> -->

        <input type="button" class="btn btn-success" id="saveTeam-e" value="Save and Download"/>
        <p id="notice"></p>
    </div>
  </form>

</div>

<div id="teamTemp-e">
  <p>Legend: Blue = front row, Red text = left handed seats, Green = back row</p>
  <img class="mx-auto img-fluid" id='podium' alt="podiumImg" src="../static/podium.png">
</div>
</main>


{% endblock content %}