{% extends "layout.html" %}
{% block content %}
<script>
  // loads json from flask
  var template = JSON.parse('{{jdata | tojson | safe}}');
  var tempName = '{{name}}';
</script>
    <main>
<div class='leftTab'>
  <h1 class="pageTitle">{{title}}</h1>
  <form>
    <h4>Room selected = {{name}}</h4>

    <label for='teamName'>section name:</label>
    <input id="teamName" />
    <input class="btn btn-success ml-sm-4" type="button" id="buildClass" value="Build Class" />

  </form>

  <form action="" method="post">
    <div class="form-group">
      <input class="btn btn-info" type="button" id="teamButton" value="Create Team from Selected Seats" />
      <input class="btn btn-info" type="button" id="removeTeam" value="Delete Team from Selected Seats" />
    </div>

    <div class="form-group">
      <select class ='btn btn-info' id="dropdown">
      </select>
      <button class="btn btn-info" type="button" id="autoAdd">Form Group</button>
    </div>

    <div class="form-group">
      <input class="btn btn-warning" type="button" id="resetTeam" value="Reset Team" />
        <input type="button" class="btn btn-success" id="saveTeam" value="Save and Download" />

      <p id="notice"></p>
    </div>

  </form>

</div>

<div id="template">
  <p>Legend: Blue = front row, Red text = left handed seats, Green = back row</p>
  <img class="mx-auto img-fluid" id='podium' alt="podiumImg" src="../static/podium.png">

</div>
    </main>
<script type="text/javascript" src="../static/teamBuilder.js"></script>

{% endblock content %}