<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<meta name="description" content="GroupreHome">
	<meta name="author" content="Team Groupre">
	<link rel="shortcut icon" href="/favicon.ico">
	<title>groupre {{ title }} </title>

	<style>
	#mySidenav a {
        transition: 0.3s;
        padding: 20px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: inline-block;
	}

	#homePage {
		background-color: #4CAF50;
	}

        #classPage {
          background-color: #f44336;
        }

	#editClassPage {
		background-color: #f48b36;
	}

	#teamPage {
		background-color: #555
    }
    
	#editTeamPage {
		background-color: rgb(103, 0, 112)
	}

	#loginPage {
		background-color: rgb(112, 0, 13)
	}

    #signUpPage {
		background-color: rgb(78, 112, 0)
	}

    #accountPage {
        background-color: #468ccf;
    }
		</style>
	<!--CSS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/default.css">
	<link rel="stylesheet" href="../static/groupre.css" style type="text/css">
	  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 
		
</head>

<body>
	<div id="mySidenav" class="sidenav">
		<a class="active" id ='homePage' href="/">Home Page</a>
		<a id = 'classPage' href="/room-creation">Build Class</a>
		<a id = 'editClassPage' href='/editTemplate'>Edit Class</a>
		<a id = 'teamPage' href="/team-creation">Build Team</a>
        <a id = 'editTeamPage' href= "/team-edition">Edit Team</a>
        {% if 'uid' not in session or session['uid'] is none %}
            <a id = 'loginPage' href="/login">Log In</a>
            <a id = 'signUpPage' href="/sign-up">Sign Up</a>
        {% else %}
            <a id = 'accountPage' href="/account">Account</a>
        {% endif %}
	</div>	
	 <div id = "prompt">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				   {% for message in messages %}
					  {{ message }}
				   {% endfor %}
				{% endif %}
			 {% endwith %}
	</div>
	{% block content %}{% endblock %}

</body>
</html> 
