{% extends "layout.html" %}
{% block content %}
<head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="static/default.css">
</head>
<body>
    <h2>Log In</h2>
    <div>
        <form action="{{ url_for('login') }}" id="log-in" name="login" method="post">
            <label>Email
                <input name="email" type="text" required>

            </label>
            <br>
            <label>Password
                <input name="password" type="Password" required>

            </label>
            <br>
            <input type="submit" value="Log In">
        </form>
    </div>
</body>

    <script>

        //validateEmail came from https://stackoverflow.com/questions/46155/how-to-validate-an-email-address-in-javascript
        function validateEmail(email) {
            const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

        function form_val() {
            var form = document.getElementById("log-in");
            if (!validateEmail(form.children[0].children[0].value))
            {
                alert("Please enter a valid email address")
                return false;
            }
            if (form.children[2].children[0].value.length < 6)
            {
                alert("Please enter a valid password");
                return false;
            }
            return true;
        }
        </script>

{% endblock content %}