{% extends "layout.html" %}
{% block content %}

<div class='pageTitle'>
    Metrics result
    file: {{output_name}}
</div>

<br>
<br>
<div>
    <p> The program outputs: {{msg}} </p>
</div>
<div id="download">

    <form id="metric_form" action="" method="POST">
        <button class="btn btn-info" onclick="redirect_after_download()"
            formaction="/download/{{ output_name ~ '.csv' }}">Download Seating Chart</button>
    </form>
    <br>
    <br>

</div>

<script>
    var download_button = false;
    // document.getElementById("metric_form").addEventListener("submit", handleDownload);

    // function handleDownload(event) {
    //     if (window.Cypress) {
    //         event.preventDefault();
    //         console.log(event)

    //     }
    // }

    function redirect_after_download() {
        download_button = true;
        setTimeout(function () {
            location.href = "../";
        }, 500);
    }
</script>
{% endblock content %}