{% extends "layout.html" %}
{% block content %}
<h1 id = "message">

</h1>
<div class='pageTitle'>
    {{ title }}
</div>
<form id="my_form" method=post enctype=multipart/form-data>
    <div class="form-group">
        <label class="labelText" for="file">Upload preference.csv</label>
        <input id="pref_input" class='btn btn-info' type="file" name="pref.csv"><br>
        <label class="labelText" for="file">Upload chair.csv</label>
        <input id="chair_input" class='btn btn-info' type="file" name="chair.csv"><br>
        <label class="labelText" for="file">Upload roster.csv</label>
        <input id="roster_input" class='btn btn-info' type="file" name="roster.csv">
    </div>

    <!-- <input class="btn btn-success" type="submit" value="Upload"> -->
    <h3>
        Previous submitted files
    </h3>
    <p id = "prev-submit">
    </p>
    <input id="run" class="btn btn-success" type="button" formaction="/" value="Submit" onclick="send_form();">

    <div>
        <p> Note: If no new files are selected, the previously submitted files will be run again
            Note: convert to .csv format in excel before uploading the file to avoid error click <a
                href="https://docs.google.com/document/d/16foaTS-DpviwbbHT3Mw-FkUH79N08_MjFhRceK9i5ds/edit?usp=sharing"
                target="_blank">[ here ]</a> for more detailed formating information on each files</p>
    </div>
</form>
<script>
    // https://stackoverflow.com/questions/19119040/how-do-i-save-and-restore-a-file-object-in-local-storage
    // https://www.html5rocks.com/en/tutorials/file/xhr2/
    let pref_name = (localStorage["pref-name"] ? " " + localStorage["pref-name"] + " ,": "pref.csv doesn't exist ,");
    let chair_name = (localStorage["chair-name"] ? " " + localStorage["chair-name"] + " ,": "chair.csv doesn't exist ,");
    let roster_name = (localStorage["roster-name"] ? " " + localStorage["roster-name"] + " ": "roster.csv doesn't exist ");

    document.getElementById("prev-submit").innerHTML = pref_name + chair_name + roster_name
    function save_file_to_local(file, type) {
        let reader = new FileReader()
        reader.onload = function () {
            localStorage[type] = reader.result;
        }
        reader.readAsText(file);
    }
    function get_file_from_local(item) {
        if (localStorage.getItem(item) == null) {
            return null
        }
        let fileContent = localStorage[item];
        console.log(fileContent)
        let filename = item + ".csv";
        let file = new File([fileContent], filename, { type: "text/csv" });
        return file;
    }

    function send_form() {
        let pref_inputs = $("#pref_input").prop('files');
        let chair_inputs = $("#chair_input").prop('files');
        let roster_inputs = $("#roster_input").prop('files');

        let pref_tmp = null;
        let chair_tmp = null;
        let roster_tmp = null;
        if (pref_inputs.length === 0) {
            pref_tmp = get_file_from_local("pref");
        } else {
            pref_tmp = pref_inputs[0];
            save_file_to_local(pref_tmp, "pref");
            localStorage["pref-name"] = pref_tmp.name;

        }
        if (chair_inputs.length === 0) {
            chair_tmp = get_file_from_local("chair");
        } else {
            chair_tmp = chair_inputs[0];
            save_file_to_local(chair_tmp, "chair");
            localStorage["chair-name"] = chair_tmp.name;

        }
        if (roster_inputs.length === 0) {
            roster_tmp = get_file_from_local("roster");
        } else {
            roster_tmp = roster_inputs[0];
            save_file_to_local(roster_tmp, "roster");
            localStorage["roster-name"] = roster_tmp.name;
            console.log(roster_tmp);
        }
        setTimeout(function () {open_form(pref_tmp, chair_tmp, roster_tmp);}, 1000);
    }

    function open_form(pref, chair, roster) {
        const formdata = new FormData();
        formdata.append("pref.csv", pref);
        formdata.append("chair.csv", chair);
        formdata.append("roster.csv", roster);

        // new HttpRequest instance
        var xmlhttp = null;
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        }
        else if (window.ActiveXObject)
        {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        else {return false;}
        // redirecting to the returned render_html

        xmlhttp.onreadystatechange = function () {
            console.log("Ready State: " + this.readyState);
            console.log("Status: " + this.status);
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            //if (this.readyState === 1 && this.status === 0) {
                let response = this.responseText;
                var downloadLink = document.createElement("a");
                var blob = new Blob(["\ufeff", response]);
                var url = URL.createObjectURL(blob);
                downloadLink.href = url;
                downloadLink.download = "output.csv";

                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
                let body = response.split("<body>")[1].split("</body>")[0]
                $("body").html(body);
                console.log("sent file successfully");
            } else {
                console.log("sent file failed");
            }
        };
        xmlhttp.open("POST", "/", true);
        xmlhttp.send(formdata);
    }
    // )
</script>
{% endblock content %}