{% extends "layout.html" %}
{% block content %}
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="static/default.css">
</head>
<body>
    <h2>Sign Up</h2>
    <div>
        <form id="sign" name="sign-up" action="{{ url_for('sign-up') }}" method="post">
            <label>Email
                <input name="email" type="text" required>

            </label>
            <br>
            <label>Password
                <input name="password" type="Password" required>

            </label>
            <br>
          	<label>Confirm Password
                <input name="confirm_password" type="Password" required>

            </label>
            <br>
            <input type="submit" value="Create Account" onclick="return form_val();">
        </form>
    </div>
</body>
        <script>

        //validateEmail came from https://stackoverflow.com/questions/46155/how-to-validate-an-email-address-in-javascript
        function validateEmail(email) {
            const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

        function form_val() {
            var form = document.getElementById("sign");
            var is_same_pass = form.children[2].children[0].value === form.children[4].children[0].value;
            if (!validateEmail(form.children[0].children[0].value))
            {
                alert("Please enter a valid email address")
                return false;
            }
            if (form.children[2].children[0].value.length < 6)
            {
                alert("Please make your password at least 6 characters long");
                return false;
            }
            if (!is_same_pass)
            {
                alert("Both of the passwords must be matching");
                return false;
            }
            return true;
        }
        </script>
{% endblock content %}