{% extends "layout.html" %}
{% block content %}
<head>
    <title>Student Form</title>
    <link rel="stylesheet" type="text/css" href="static/default.css">
</head>
<body>
    <h2>Student Form</h2>
    <div>
        <form id="student" name="student_form" action="/add/url/later" method="post">
            <label>What is your last name?
                <input name="last_name" type="text" required>
            </label>
            <br>
            <label>What is your first name?
                <input name="first_name" type="text" required>

            </label>
            <br>
          	<label>What is your UNC ONYEN?
                <input name="onyen" type="text" required>
            </label>
            <br>
            <label>Enter your UNC PID (enter a 7 digit number)
                <input name="pid" type="number" pattern="\d+" required>
            </label>
            <br>
            <label>Which row is important to you? If we are unable to accommodate a specific request, we will place you as close to your requested location as possible.
                <select name="row_importance" required>
                    <option value="Anywhere in the first seven front rows">Anywhere in the first seven front rows</option>
                    <option value="No preference for location in the room">No preference for location in the room</option>
                    <option value="Front row">Front row</option>
                    <option value="Towards the back of the classroom">Towards the back of the classroom</option>
                    <option value="The last row possible (NOTE: this may be around row N, and not the last row of the classroom)">The last row possible (NOTE: this may be around row N, and not the last row of the classroom)</option>
                </select>
            </label>
            <br>
            <label>When facing the screens, what region of the classroom is important to you?
                <select name="classroom_importance" required>
                    <option value="The large middle section">The large middle section</option>
                    <option value="The left hand section (when I'm facing the screens)">The left hand section (when I'm facing the screens)</option>
                    <option value="No preference for region of the classroom">No preference for region of the classroom</option>
                    <option value="The right hand section (when I'm facing the screens)">The right hand section (when I'm facing the screens)</option>
                </select>
            </label>
            <br>
            <label>Do you require a left handed desk?
                <select name="leftHanded_desk" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </label>
            <br>
            <label>Do you need to sit in an aisle seat?
                <select name="aisle_seat" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </label>
            <br>
            <label>Is there anything else you want to tell me about your seating request? (e.g. related to your ARS accommodation or other personal matter)
                <input name="optional" type="text">
            </label>
            <br>
            <label>Special Request?
                <select name="special" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </label>
            <br>
            <input type="submit" value="Create Account" onclick="return form_val();">
        </form>
    </div>
</body>
        <script>

        //validateEmail came from https://stackoverflow.com/questions/46155/how-to-validate-an-email-address-in-javascript
        function validateEmail(email) {
            const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

        function form_val() {
            var form = document.getElementById("sign");
            var is_same_pass = form.children[2].children[0].value === form.children[4].children[0].value;
            if (!validateEmail(form.children[0].children[0].value))
            {
                alert("Please enter a valid email address")
                return false;
            }
            if (form.children[2].children[0].value.length < 6)
            {
                alert("Please make your password at least 6 characters long");
                return false;
            }
            if (!is_same_pass)
            {
                alert("Both of the passwords must be matching");
                return false;
            }
            return true;
        }
        </script>
{% endblock content %}